* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font and background color */
body {
    /* display: inline-flexbox; */
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

header {
    display: flex;
    position: sticky;
    width: 100vw;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    /* box-shadow: 0 0 3px #609966; */
    z-index: 999;
}

/* Style the navigation menu */
nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #EDF1D6;
}

.logo {
    margin-right: 20px;
    list-style: none;
}

.logo img {
    height: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1000px; */
}

nav li {
    margin: 0 20px;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

nav a {
    color: #40513B;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s;
}

nav a:hover {
    color: #609966;
}

/* for nav bar breadcrumbing */
div.breadcrumb {
    padding: 1 .5rem;
    background-color: white;
    display: block;
    font-size: small;
    padding-top: 20px;
    padding-left: 50px;
}

div.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

div.breadcrumb li:not(:last-child)::after {
    margin: 0 .25rem;
    content: "→";
}

main {
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.login {
    margin-left: auto;
    list-style: none;
}


.login a {
    background-color: #609966;
    color: #EDF1D6;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.2s;
    white-space: nowrap;/* to make sure the button won't change when window resized */
}

.login a:hover {
    background-color: #9DC08B;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Style the upcoming events section */
.upcoming-events {
    background-color: #9DC08B;
    padding: 20px;
    margin-bottom: 50px;
}

.upcoming-events h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.upcoming-events ul {
    list-style: none;
}

.upcoming-events li {
    margin-bottom: 10px;
}

.upcoming-events a {
    color: #000000;
    text-decoration: none;
}

.upcoming-events a:hover {
    color: #609966;
}

/* Style the latest news section */
.latest-news {
    background-color: #609966;
    padding: 20px;
    margin-bottom: 50px;
}

.latest-news h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.latest-news ul {
    list-style: none;
}

.latest-news li {
    margin-bottom: 20px;
}

.latest-news h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.latest-news p {
    font-size: 16px;
}

/* Style the gallery section */
.gallery {
    background-color: #EDF1D6;
    padding: 20px;
    margin-bottom: 50px;
}

.gallery h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.gallery li {
    margin: 10px;
}

.gallery img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    position: static;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #40513B;
    justify-content: center;
    align-items: center;
    height: 60px;
}

footer img {
    height: 30px;
    margin: 0 10px;
}

/* -------------------- LOG IN PAGE ------------------------- */
.loginpage {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* -------------------- SIGN UP PAGE ------------------------- */
.signuppage {
    /* display: flex; */
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 20;
    color: grey;
    font-weight: 550;
}

input, select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: medium;
}

input[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: larger;
}

input[type=submit]:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
}

.admin-login {
    margin-left: auto;
    list-style: none;
	background-color: #609966;
    color: #EDF1D6;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.2s;
}

.admin-login:hover {
    background-color: #9DC08B;
}


/* ------------------ ABOUT US ------------------------ */
.aboutUs {
    margin: 0 auto;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
    width: 80%;
}

div.aboutUs img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

div.aboutUs p {
    text-align: justify;
    font-family: sans-serif;
    font-size: large;
    padding: 1em;
    margin: auto;
}

/* div.contacts {
    text-align: right;
} */

/* ----------------------- CLUBS ------------------------ */
div.club-collection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 70%;
}

div.clubs-list {
    margin-top: 1rem;
    border: 1px solid #ccc;
    background-color: #f3f6e0;
    padding: 1rem;
}

div.indv-club {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.left-club-side {
    width: 80%;
}

div.left-club-side h2 {
    margin: .5rem;
}

div.left-club-side h3 {
    margin: .5rem;
}

div.right-club-side {
    width: 20%;
    display: flex;
}

div.right-club-side button {
    padding: 1rem;
}

/* -------------------------------- EVENTS ------------------------------------ */
div.events-collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem auto;
    padding: 2rem;
    max-width: 70%;
    border: 1px solid #ccc;
    background-color: #daebd1;
}

div.events-nav {
    /* border-bottom: 1px solid #ccc; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.events-nav button {
    padding: 1rem;
}

/* ---------------- USE VUE TO HIDE EITHER BUTTON ---------------------- */
div.left-events-nav {
    width: 80%;
}

div.right-events-nav {
    width: 20%;
    display: flex;
    /* flex-wrap: wrap; */
}
/* --------------------------------------------------------------------- */

div.events-list {
    margin-top: 1rem;
    border: 1px solid #ccc;
    background-color: #f3f6e0;
    padding: 1rem;
}

div.indv-event {
    border: 1px solid #ccc;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
}

div.left-event-side {
    width: 80%;
}

div.right-event-side {
    width: 20%;
    display: flex;
}

div.right-event-side button {
    padding: 1rem;
}